<div *ngIf="info.token; else loggedOut">
  <button (click)="gotoServicesList()" class="btn btn-info">Zarządzaj usługami</button>
  <button (click)="gotoUsersList()" class="btn btn-info">Zarządzaj użytkownikami</button>
</div>
  <ng-template #loggedOut>
    <p>
      Nie masz uprawnień do przeglądania tej strony. Zaloguj się jako administrator.
    </p>

  </ng-template>
