/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 70px;
  background-color: blue;
  text-align: center;
  color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
