<h3>Dodaj usługę</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nazwa usługi</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="salonService.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Cena</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="salonService.price" name="price">
    </div>

    <div class="form-group">
      <label for="name">Opis</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="salonService.description" name="description">
    </div>

    <button type="submit" class="btn btn-success">Dodaj</button>
    <button (click)="gotoList()" class="btn btn-info">Powrót</button><br>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Pomyślnie dodano</h4>
</div>
