<div *ngIf="info.token; else loggedOut">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista usług</h2>
    </div>

    <div class="panel-body">
      <button (click)="gotoAddService()" class="btn btn-info" style="margin: 5px">Dodaj usługę</button>
      <form>
        <div class="form-group form-inline">Szukaj: <input class="form-control ml-2" type="text" />
        </div>
      </form>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Cena</th>
          <th>Opis</th>
          <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salonService of salonServices | async">
          <td>{{salonService.name}}</td>
          <td>{{salonService.price}}</td>
          <td style="max-width:30em;">{{salonService.description}}</td>
          <td style ="min-width: 17em">
            <button (click)="deleteSalonService(salonService.id)" class="btn btn-danger">Usuń</button>
            <button (click)="updateSalonService(salonService.id)" class="btn btn-success" style="margin-left: 10px">
              Edytuj
            </button>
            <button (click)="salonServiceDetails(salonService.id)" class="btn btn-info" style="margin-left: 10px">
              Szczegóły
            </button>
          </td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>

<ng-template #loggedOut>
  <p>
    Nie masz uprawnień do przeglądania tej strony. Zaloguj się jako administrator.
  </p>

</ng-template>


