<div *ngIf="info.token; else loggedOut">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista użytkowników</h2>
    </div>

    <div class="panel-body">
      <button (click)="gotoAddUser()" class="btn btn-info" style="margin: 5px">Dodaj użytkownika</button>
      <form>
        <div class="form-group form-inline">Szukaj: <input class="form-control ml-2" type="text" />
        </div>
      </form>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Imię i nazwisko</th>
          <th>Email</th>
          <th>Nazwa użytkownika</th>
<!--          <th>Rola</th>-->
          <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alluser of allusers | async">
          <td>{{alluser.name}}</td>

          <td>{{alluser.email}}</td>

          <td >{{alluser.username}}</td>

<!--          <td >{{alluser.role}}</td>-->
          <td>
            <button (click)="deleteUser(alluser.id)" class="btn btn-danger">Usuń</button>
            <button (click)="updateUser(alluser.id)" class="btn btn-success" style="margin-left: 10px">
              Edytuj
            </button>
            <button (click)="userDetails(alluser.id)" class="btn btn-info" style="margin-left: 10px">
              Szczegóły
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<ng-template #loggedOut>
  <p>
    Nie masz uprawnień do przeglądania tej strony. Zaloguj się jako administrator.
  </p>

</ng-template>


