
<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Zalogowano</h5>
  <p>
    <strong>Użytkownik:</strong> {{info.username}}<br/>
    <strong>Rola:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>

  <h1>Witaj w salonie HomeSPA!</h1>

  <p>
    To miejsce, gdzie możesz czuć się bezpiecznie, pewnie i całkowicie zdać się na wiedzę i doświadczenie kosmetyczek.
    W przyjemnej i miłej atmosferze oferujemy wachlarz zabiegów kosmetycznych twarzy oraz pielęgnację dłoni i stóp w oparciu o profesjonalne kosmetyki.
  </p>
  <p>Oddajemy się do Twojej dyspozycji i serdecznie zapraszamy!</p>

</div>

<ng-template #loggedOut>
  <h1>Witaj w salonie HomeSPA!</h1>

  <p>
    To miejsce, gdzie możesz czuć się bezpiecznie, pewnie i całkowicie zdać się na wiedzę i doświadczenie kosmetyczek.
    W przyjemnej i miłej atmosferze oferujemy wachlarz zabiegów kosmetycznych twarzy oraz pielęgnację dłoni i stóp w oparciu o profesjonalne kosmetyki.
  </p>
  <p>Oddajemy się do Twojej dyspozycji i serdecznie zapraszamy!</p>

</ng-template>
