
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a href="home" ><img src="https://images.vexels.com/media/users/3/157021/isolated/lists/86855cd4f31cf0862070b279fb44cdd0-stylized-lotus-flower-symbol.png"  width="70px" height="70px"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
        <a routerLink="products" class="nav-link" href="#">Nasze usługi</a>
      </li>


      <li class="nav-item">
        <a routerLink="manage" class="nav-link" href="#">Administracja</a>
      </li>

      <li class="nav-item">
        <a routerLink="calendar" class="nav-link" href="#">Kalendarz</a>
      </li>

      <li class="nav-item">
        <a routerLink="appointment" class="nav-link" href="#">Rezerwacja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button routerLinkActive="active" routerLink="login" class="btn btn-outline-info" type="link">Zaloguj</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
    <button  (click)="logout()" class="btn btn-outline-info" type="link">Wyloguj</button>
    </form>

  </div>
</nav>

<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


