<div *ngIf="isSignedUp; else signupForm">
  Pomyślnie zarejestrowano. Możesz się zalogować!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:550px;">
    <form class="text-center border border-light p-5" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <p class="h4 mb-4">Rejestracja</p>

        <input type="text" class="form-control mb-4" name="name"  placeholder="Imię i nazwisko" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Imię i nazwisko są wymagane!</div>
        </div>

        <input type="text" class="form-control mb-4" name="username"  placeholder="Nazwa użytkownika" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
        </div>

        <input type="text" class="form-control mb-4" name="email"  placeholder="Email"[(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">Email jest nieprawidłowy</div>
        </div>

        <input type="password" class="form-control" name="password"  placeholder="Hasło" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <small class="form-text text-muted mb-4">
        Hasło musi posiadać conajmniej 6 znaków.
        </small>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Hasło jest wymagane!</div>
          <div *ngIf="password.errors.minlength">Hasło musi posiadać conajmniej 6 znaków!</div>
        </div>

      <div class="form-group">
        <button class="btn btn-outline-primary my-2 my-sm-0">Zarejestruj</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Rejestracja nie powiodła się!<br/>{{errorMessage}}
        </div>
      </div>
      <hr/>
      <p>Klikając
        <em>Zarejestruj</em> akceptujesz
        <a href="" target="_blank">regulamin strony</a>.</p>
    </form>
  </div>
</ng-template>
