<div *ngIf="isLoggedIn; else loggedOut">
  Zalogowano jako {{roles}}.
</div>

<ng-template #loggedOut>
    <div class="row col-sm-6" style="max-width:350px;">
  <form class="text-center border border-light p-5" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
    <p class="h4 mb-4">Logowanie</p>

    <input type="text" class="form-control mb-4" name="username" placeholder="Nazwa użytkownika" [(ngModel)]="form.username"
           #username="ngModel" required/>
    <div *ngIf="f.submitted && username.invalid">
      <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
    </div>

    <input type="password" class="form-control mb-4" name="password" placeholder="Hasło" [(ngModel)]="form.password"
           #password="ngModel"
           required minlength="6"/>
    <div *ngIf="f.submitted && password.invalid">
      <div *ngIf="password.errors.required">Hasło jest wymagane</div>
      <div *ngIf="password.errors.minlength">Hasło musi posiadać co najmniej 6 znaków</div>
    </div>


    <div class="form-group">
      <button class="btn btn-outline-primary my-2 my-sm-0">Zaloguj się</button>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
        Login failed: {{errorMessage}}
      </div>
    </div>

    <hr/>
    <p>Nie masz jeszcze konta?</p>
    <a href="register" >Zarejestruj się</a>

  </form>
    </div>
</ng-template>



















