<h3>Aktualizuj usługę</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="salonService.name" name="name">
    </div>

    <div class="form-group">
      <label for="price">Cena</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="salonService.price" name="price">
    </div>

    <div class="form-group">
      <label for="description">Opis</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="salonService.description" name="description">
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    <button (click)="gotoList()" class="btn btn-info">Powrót</button>
  </form>
</div>
