<h2>Szczegóły usługi</h2>

<hr/>
<div *ngIf="salonService">
  <div>
    <label><b>Nazwa: </b></label> {{salonService.name}}
  </div>
  <div>
    <label><b>Cena: </b></label> {{salonService.price}}
  </div>
  <div>
    <label><b>Opis: </b></label> {{salonService.description}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-info">Powrót do listy usług</button><br>
