<div class="panel-heading">
  <h2>Lista usług</h2>
</div>

<div class="panel-body">

  <div class="container-fluid">
    <div class="row">
      <div class="card-deck">
        <div *ngFor="let salonService of salonServices | async">
          <div class="card" style="width: 18rem; ">
            <!--        <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body" style="height: 20em;">
              <h5 class="card-title" style="height: 1.5em;" >{{salonService.name}}</h5>
              <p class="card-text" style="height: 10em; overflow: auto">{{salonService.description}}</p>
              <p class="card-text"><b>Cena: {{salonService.price}} zł</b></p>
              <a href="appointment/2" class="btn btn-info" >Rezerwuj termin</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>









